
    </div>

    <div id='footer'>
        <div class='container'>
            <p class='muted credit'>OKCorgi &copy;</p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
