<!DOCTYPE html>
<html>
  <head>
    <title>OKCorgi</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,300|Oxygen:400,300|Lato:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="jumbotron">
        <header>
          <h1>Welcome to OKCorgi <i class="fa fa-heart-o"></i></h1>
        </header>
    </div>

    <div class="container-fluid">
